
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
 


         <h2><small> About us</small></h2>
<hr />
              <p>
                Recent past, in Bangladesh, the demand of IT and Te
                lecom solutions increased dramatically.
                With an incredible increase in the number of users
                ,
                large numbers of new operators are coming
                to establish their network all over the country.
            </p>
            <p>
                3
                dB
                Communication
                Technology
                is a provider of end-to-end Telecom and IT solution
                s. We are
                specialized in providing products, services and sol
                utions in data and voice communications. Our
                company has been participated in the development, m
                aintenance and implementation of IP
                Networking & telecommunication infrastructure.
            </p>
            <p>
                3
                dB
                Communication
                Technology
                emerged in IT & Telecom track, with a view to provi
                de better
                support, service and solution to the valuable clien
                ts and thus become the market leader among
                the telecommunication and networking service provid
                ers in Bangladesh.
            </p>
            <p>
                3
                dB
                Communication
                Technology
                has been serving the well known corporate & commerc
                ial
                Business Houses. We are well equipped with the enti
                re latest technologies infrastructure, also
                powered by the qualified and well-experienced IT pr
                ofessionals in the IT & Telecom venture. We
                are now serving large corporate house
                s
                with their highest level of satisfaction. We always
                ensure the best level of service to our honorable s
                ubscribers.
            </p>
        