
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<h2><small> Services</small></h2>
<hr />

<div class="panel-group" id="accordion">
    

    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">IP CCTV & Security</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          
                <div class="panel-body">
                    <div class="row">
                        <p class="text-justify">
                            3  dB  Communication  Technology  offers  the  latest  in
                            IP  based  Security  technology.  From  a
                            simple, single site access control system, to a lar
                            ge, multi-location enterprise video management
                            solution. Our dedicated teams of certified security
                            professionals are equipped to help with the
                            entire process, from initial needs analysis to fina
                            l completion of the project, on time and often
                            under  budget.  We take  great  pride  in offering  fully
                            comprehensive  service  and  maintenance
                            programs to support you long after your system has
                            been installed. Furthermore, many of our IP
                            based  security  solutions  are  integrated,  so  that  yo
                            ur  user  experience  is  friendly  and  easily
                            capable of expansion and growth over time as your n
                            eeds change.
                        </p>
                        <hr />
                        <p><strong>Here are some of the systems we represent: </strong> </p>

                        <ul>
                            <li> IP CCTV </li>
                            <li>Analog CCTV  </li>
                            <li>   Access Control Systems (ACS)</li>
                            <li>  Video Management Solutions (VMS) </li>
                            <li>   Video Entry/Intercom Solutions </li>
                            <li>  Mass Notification/PA Systems </li>
                            <li>   Alarm Systems  </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">

                            <img class="img-thumbnail" src="~/Content/images/Service/291X112/ip_cctv_4.jpg" alt="infrastructure" width="291" height="112" />
                        </div>

                        <div class="col-lg-9">
                            <img class="img-thumbnail pull-left" src="~/Content/images/Service/Ip%20CCTV%20Network.png" alt="ipCCTV" width="700" height="400" />
                        </div>
                    </div>
                    </div>
              
          
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">     Infrastructure Services & Solutions</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <p class="text-justify">
                        We are committed to ensure the service as per clien
                        ts need. We maintain the best quality of
                        Infrastructure management according to the quality
                        and design.
                        8.0.1
                        Structured Cabling Services
                        :
                        3 dB Communication Technology performs the full bre
                        adth of Structured Cabling Services. Our
                        attention to quality, detail and customer service i
                        s what separates our installations from all of
                        our competitors.
                        Our Solutions
                        covers the entire range of Structured Cabling
                    </p>
                    <hr />
                    <p><strong>Below is a list of the services we provide:</strong> </p>

                    <ul>
                        <li> Fiber Based Systems. </li>
                        <li>Cabinets, Racks and Cable Management. </li>
                        <li> Labeling and Identification </li>
                        <li>Cable Ties and Accessories. </li>
                        <li> Enclosures. </li>
                        <li>Intelligent Systems. </li>
                        <li> Outlets and Faceplates.  </li>
                        <li> Power and Environmental Enclosures. </li>
                        <li> Routing and Pathways. </li>
                        <li> Safety and Security. </li>
                        <li> Abrasion Protection and Heat Shrink. </li>
                        <li>
                            Supports and Fasteners.
                        </li>
                        <li> Terminals, Power Connectors and Grounding. </li>
                        <li> Patch Cord Installation Tools</li>
                        <li> Wiring Ducts. </li>
                        <li> Security and Control Cabling </li>
                        <li> Cable Tray</li>
                        <li> Ladder Rack </li>
                        <li> Conduit</li>
                    </ul>

                </div>
                <div class="row">
                    <div class="col-lg-3">


                        <img class="img-thumbnail" src="~/Content/images/Service/291X112/Infrastructure.jpg" alt="infrastructure" width="291" height="112" />
                    </div>

                    <div class="col-lg-9">
                        <img class="img-thumbnail pull-left" src="~/Content/images/Service/Infrastructure.jpg" alt="infrastructure" width="700" height="400" />
                    </div>
                </div>
            
        </div>
    </div>
</div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">  IP Based Solutions</a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <p class="text-justify">
                        Networks are multiplying day by day in every organiz
                        ation. Systems are becoming more & more
                        dependent on the availability of data resources of
                        various departments / divisions / locations of
                        an organization and thereby increasing the load and
                        requirements of Networks.
                    </p>

                </div>
                <div class="row">
                    <div class="col-lg-3">

                        <img class="img-thumbnail" src="~/Content/images/Service/291X112/Red_LAN.gif" />
                    </div>

                    <div class="col-lg-9">
                        <img class="img-thumbnail pull-left" src="~/Content/images/Service/ip%20based%202.jpg" alt="infrastructure" width="700" height="400" />
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">    Local Area Network</a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <p class="text-justify">
                        We are experienced in Network & Hardware solution.
                        We provide all kinds of support & services
                        for LAN.
                    </p>


                </div>
                <div class="row">
                    <div class="col-lg-3">

                        <img class="img-thumbnail" src="~/Content/images/Service/291X112/lan_1.jpg" />
                    </div>

                    <div class="col-lg-9">
                       
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">     IT Consultancy</a>
            </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <p class="text-justify">
                        Our  specialty  is  to  provide  cost  effective  and  reli
                        able  solution  for  customized  DNS/Web/
                        Mail/Proxy server solution
                        and IT consultancy services.
                    </p>


                </div>
                <div class="row">
                    <div class="col-lg-3">

                        <img class="img-thumbnail" src="~/Content/images/Service/291X112/it%20cons%202.jpg" />
                    </div>

                    <div class="col-lg-9">
                        <img class="img-thumbnail" src="~/Content/images/Service/it%20cons%206.jpg" />
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">   Network Management & Monitoring</a>
            </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <p class="text-justify">
                        Network Management involves Network Monitoring of B
                        andwidth Utilization, Network Errors /
                        Collisions,  Network  Troubleshooting,  Day-to-day  Net
                        work  Operations,  Network  performance
                        monitoring, Tuning Network Operating System and adv
                        ice action plan.
                    </p>


                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <img class="img-thumbnail" src="~/Content/images/Service/291X112/Network-Monitoring_3.jpg" />
                    </div>

                    <div class="col-lg-9">
                        <img class="img-thumbnail" src="~/Content/images/Service/Network-Monitoring_1.jpg" />
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">  Hardware/Network Infrastructure Design</a>
            </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <p class="text-justify">
                        We have conceptualized and helped set up Engineers,
                        which can cover the design and setting up
                        of complete Hardware/Network infrastructure.
                    </p>

                    <ul>

                        <li>
                            Design: Recommending appropriate hardware, software and n
                            etworking elements to meet the
                            business objectives
                        </li>
                        <li>
                            Set-up
                            : Installing the supplied hardware
                        </li>

                        <li>
                            Maintenance
                            : Ongoing maintenance of the supplied hardware
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <img class="img-thumbnail" src="~/Content/images/Service/Sample%20Propose%20Network%201.jpg" />
                    </div>

                    <div class="col-lg-9">
                    
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">  Voice Communication Solution</a>
            </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <p class="text-justify">
                        We believe, that whatever the size of our business,
                        we should be able to benefit our valuable
                        clients in telephone system that makes as much effi
                        cient and professional as possible, without
                        having to pay the premium associated with much larg
                        er systems. The voice solution is becoming
                        more and more popular in our commercial life stages
                        . Most of our engineers are expertise on
                        ERICSSON PABX.


                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                     
                    </div>

                    <div class="col-lg-9">
                        <img class="img-thumbnail" src="~/Content/images/Service/analog_pabx_solution%201.jpg" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">    PABX</a>
            </h4>
        </div>
        <div id="collapse9" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <p class="text-justify">
                        Business Phone –keeps communication simple through
                        PBX system for small-sized to
                        medium-sized  organizations.  It  is  an  extremely  flex
                        ible  system  that  will  easily  grow  with
                        business,  plus  PBX  networking  over  IP  for  cost  savi
                        ngs.  The  Business  Phone  communication
                        platform is available in two versions:


                    </p>
                    <ul>
                        <li>
                            Business Phone 50, housed in a compact cabinet, i
                            s optimized for organizations with up to 64
                            extensions.
                        </li>
                        <li>
                            Business Phone 250 is the perfect solution for or
                            ganizations needing up to 200 extensions.
                        </li>
                        <li>
                            In addition to offering a wide range of PBX feature
                            s, Business Phone includes applications to
                            support mobility, PBX networking over IP and web-ba
                            sed system management. The system also
                            comes equipped  with  digital  and  analog  trunks  call
                            center  functionality  for  up  to  40  agents,
                            voice  messaging  and  computer  telephony.  More  over,
                            3dB   Communication   Technology,
                            engineers are capable of working in the any environ
                            ment of PABX system specially
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <img class="img-thumbnail" src="~/Content/images/cctvService291X112.PNG" />
                    </div>

                    <div class="col-lg-9">
                       
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse10"> In-Building Solution</a>
            </h4>
        </div>
        <div id="collapse10" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <ul>
                        <li>
                            Survey,  coverage  design  &  calculation,  verification
                            ,  walk  test,  supply,  installation,  testing,
                            commissioning, etc.
                        </li>
                        <li>
                            In Building Solution (IBS) is composed of Signal So
                            urce and Distributed Antenna System
                        </li>
                        <li>
                            IBS is an indoor signal coverage solution as the ex
                            tension of the indoor locations via the
                            distributed antenna system, which consists of anten
                            na, power splitter, coupler etc
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <img class="img-thumbnail" src="~/Content/images/cctvService291X112.PNG" />
                    </div>

                    <div class="col-lg-9">
                      
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">    RF System Integration</a>
            </h4>
        </div>
        <div id="collapse11" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <p class="text-justify">
                        System integration/network connections of cross pla
                        tform facilities and equipments.
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <img class="img-thumbnail" src="~/Content/images/cctvService291X112.PNG" />
                    </div>

                    <div class="col-lg-9">

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">   Network Management and Optimization</a>
            </h4>
        </div>
        <div id="collapse12" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <p class="text-justify">
                        Provide Network Management and Network Evaluation s
                        olution.
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <img class="img-thumbnail" src="~/Content/images/cctvService291X112.PNG" />
                    </div>

                    <div class="col-lg-9">

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">    Customer Relationship Management</a>
            </h4>
        </div>
        <div id="collapse13" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <p class="text-justify">
                        While most companies recognizes the strategic impor
                        tance of customer management, very few
                        are comfortable with their ability to implement cus
                        tomer loyalty programs. Today's companies
                        are aiming towards increased competitive advantage
                        and greater profitability, while reducing
                        the  risk  and  cost  of  doing  business.  Customer  relat
                        ionship  management  solutions  bring  a
                        customer-centric  focus,  helping  identify  and  retain
                        the  most  profitable  customers.  With  a
                        continuous process of gathering data at various cus
                        tomer contact points and transforming this
                        data into knowledge, one can build more profitable
                        customer relationships. A CRM process help
                        knowing our customers better and define appropriate
                        actions for retaining customers, such as
                        special incentive programs. With experience
                        3
                        dB
                        Communication
                        Technology
                        has established
                        itself  as  a  technology  integration  company  offering
                        solutions  to  its  customers  across various
                        platforms. We leverage our reach, infrastructure, s
                        kill-sets and partnership with world leaders to
                        give our customers the best of breed CRM solutions
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <img class="img-thumbnail" src="~/Content/images/Service/organo%201.jpg" />
                    </div>

                    <div class="col-lg-9">

                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>


 