@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
 

<script type="text/javascript">
    $(document).ready(function () {
      
    });
</script>

<div class="col-lg-5">
    

</div>

 
