
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>JqueryCustomeAnimation</h2>
<style type="text/css">
    .ui-resizable-helper {
        border: 1px solid red;
    }

    #resize_me {
        border: 1px solid black;
        overflow: hidden;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#div#resize_me").resizable({
            animate: true,
            helper: "ui-resizable-helper",
            minWidth: 300,
            minHeight:200
            });
    });
     

            //ghost: true,
            //helper: "ui-resizable-helper",
            //minWidth: 300,
            //minHeight: 300
    
    
</script>
<div id="resize_me" class="ui-widget-content">
    <h2 class="ui-widget-header">Pork and Stuff</h2>
    Bacon ipsum dolor sit amet pastrami flank short ribs tongue, salami ham short loin shank
    Pancetta venison bacon shankle, swine jerky beef cow pork pork loin ham fatback beef rib
    salami ham hock. Salami beef bacon pork brisket, t-bone flank ball tip. Ham hock beef
    venison, t-bone andouille ribeye sirloin salami pork shankle. Ground round beef ribs
    tip, sirloin venison rump pork loin shoulder boudin salami flank chuck ham corned beef
    tenderloin. Tongue pork loin boudin, turkey ribeye salami pig biltong ham ham hock strip
    steak. Beef ribs short ribs turkey, pancetta swine pork meatloaf strip steak ham bacon
    corned beef short loin salami.
</div>